.terms-wrap {
    margin: 0 auto;
}
.terms-section {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
}
.p-terms {
    font-size: 20px;
    font-weight: 300;
    margin: 0 40px;
    word-spacing: 2.5px;
    letter-spacing: 0.5px;
    line-height: 25px;
}

.contact-wrap {
    margin: 20px 0;
    padding: 10px 0;
}